<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class <br>06 July 2022</p><h1>

In [1]:
import random

In [ ]:
random.shuffle()

In [4]:
random.randint(10, 30)

20

In [5]:
chr(107)

'k'

In [6]:
chr(random.randint(97, 122)) # KÜÇÜK HARF

'c'

In [7]:
chr(random.randint(65, 90))  # BÜYÜK HARF

'X'

In [8]:
chr(random.randint(48, 57)) # RAKAM

'3'

In [9]:
chr(random.randint(33, 47))  # ÖZEL KARAKTER1

'.'

In [10]:
chr(random.randint(58, 64))  # ÖZEL KARAKTER 2

';'

In [12]:
uppers = [chr(random.randint(65, 90)) for i in range(3)]

uppers

['E', 'J', 'M']

In [14]:
lowers = [chr(random.randint(97, 122)) for i in range(3)]

lowers

['g', 'b', 'p']

In [15]:
numbers = [chr(random.randint(48, 57)) for i in range(3)]

numbers

['4', '8', '1']

In [16]:
chars = chr(random.randint(33, 47)) + chr(random.randint(58, 64))
chars

'(:'

In [17]:
"-".join(numbers)

'4-8-1'

In [18]:
"".join(numbers)

'481'

In [19]:
passw = "".join(uppers) + "".join(lowers) + "".join(numbers) + chars

passw

'EJMgbp481(:'

In [ ]:
random.shuffle()

In [20]:
pass_list = list(passw)
pass_list

['E', 'J', 'M', 'g', 'b', 'p', '4', '8', '1', '(', ':']

In [21]:
random.shuffle(pass_list)

In [22]:
pass_list

['b', 'p', 'J', 'g', '(', 'E', '1', 'M', ':', '4', '8']

In [23]:
"".join(pass_list)

'bpJg(E1M:48'

In [24]:
def karıştır(password) :
    templist = list(password)
    random.shuffle(templist)
    return "".join(templist)

In [25]:
passw

'EJMgbp481(:'

In [26]:
print(karıştır(passw))

EJ4(1b8Mpg:

# Exceptions

In [27]:
int("10")

10

In [28]:
int("on")

ValueError: invalid literal for int() with base 10: 'on'

In [29]:
import math

In [30]:
math.sqrt(25)

5.0

In [31]:
math.sqrt(-25)

ValueError: math domain error

In [32]:
math.factorial(4)

24

In [33]:
math.factorial(-4)

ValueError: factorial() not defined for negative values

In [34]:
math.log(1000)

6.907755278982137

In [35]:
math.log(-10)

ValueError: math domain error

In [36]:
print("5" + 5)

TypeError: can only concatenate str (not "int") to str

In [37]:
math.factorial("5")

TypeError: 'str' object cannot be interpreted as an integer

# Exception Handling

In [39]:
print("hello world")
print("hello world")
print("hello world")
print("hello world"
print("hello world")
2/0
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

SyntaxError: invalid syntax (711780969.py, line 5)

In [40]:
print("hello")
print(hello

SyntaxError: unexpected EOF while parsing (3988315941.py, line 2)

In [41]:
print("hello")
print(hello)

hello

NameError: name 'hello' is not defined

In [43]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 8
The second number please : 0

ZeroDivisionError: division by zero

In [ ]:
while True :
    no_one = int(input("the first number please :"))
    no_two = int(input("the second number please :"))
    
    try :
        division = no_one / no_two
        print("the result of the division is : ", division)
        break
        
    except :
        print("something went wrong...Try again.")
        break

In [44]:
try : 
    x = 2/0
    print("bende sıkıntı yokmuş demek ki bak çalıştım.")

except :
    print("bir şeyler ters gitti.")

bir şeyler ters gitti.

In [45]:
try : 
    print("ben birinci kod satırıyım.")
    x = 2/0
    print("bende sıkıntı yokmuş demek ki bak çalıştım.")

except :
    print("bir şeyler ters gitti.")

ben birinci kod satırıyım.
bir şeyler ters gitti.

In [46]:
try : 
    print("a")
    x = 2/2
    print("b")
    print(x)

except :
    print("c")

a
b
1.0

In [47]:
try : 
    print("a")
    x = 2/2
    print("b")
    print(x)

except :
    print("c")
    
print("ben try except bloğunun altındaki satırım.")

a
b
1.0
ben try except bloğunun altındaki satırım.

In [ ]:
while True :
    no_one = int(input("the first number please :"))
    no_two = int(input("the second number please :"))
    
    try :
        division = no_one / no_two
        print("the result of the division is : ", division)
        break
        
    except :
        print("something went wrong...Try again.")
        break

In [52]:
while True :
    no_one = int(input("the first number please :"))
    no_two = int(input("the second number please :"))
    
    try :
        division = no_one / no_two

    except ZeroDivisionError:
        print("You can't divide by zero!...Try again.")

    else :
        print("the result of the division is : ", division)

    finally :
        print("thanks for using our mini divison calculator. come again!")
        break

the first number please :8
the second number please :iki

ValueError: invalid literal for int() with base 10: 'iki'

In [1]:
while True :
    
    try :
        no_one = int(input("the first number please :"))
        no_two = int(input("the second number please :"))
        division = no_one / no_two

    except ZeroDivisionError:
        print("You can't divide by zero!...Try again.")

    else :
        print("the result of the division is : ", division)

    finally :
        print("thanks for using our mini divison calculator. come again!")
        break

the first number please :5
the second number please :beş
thanks for using our mini divison calculator. come again!

In [2]:
while True :
    no_one = int(input("the first number please :"))
    no_two = int(input("the second number please :"))
    
    try :
        division = no_one / no_two
        print("the result of the division is : ", division)
        break
        
    except Exception as dıgıdık :
        print("The exception that raised is :", dıgıdık)
        break

the first number please :5
the second number please :0
The exception that raised is : division by zero

In [3]:
while True :
    
    
    try :
        no_one = int(input("the first number please :"))
        no_two = int(input("the second number please :"))
        division = no_one / no_two
        print("the result of the division is : ", division)
        break
        
    except Exception as dıgıdık :
        print("The exception that raised is :", dıgıdık)
        break

the first number please :5
the second number please :beş
The exception that raised is : invalid literal for int() with base 10: 'beş'

In [4]:
dıgıdık

NameError: name 'dıgıdık' is not defined

In [6]:
try :
    x
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except :
    print("something else went wrong")

something else went wrong

In [ ]:
try :
    x = 2/0
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except :
    print("something else went wrong")

In [7]:
try :
    x
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except NameError :
    print("the wrong is related to name error")
except :
    print("something else went wrong")

the wrong is related to name error

In [8]:
int("on")

ValueError: invalid literal for int() with base 10: 'on'

In [9]:
try :
    int("on")
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except NameError :
    print("the wrong is related to name error")
except :
    print("something else went wrong")

something else went wrong

In [11]:
try :
    int("on")
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except NameError :
    print("the wrong is related to name error")
except (ValueError, TypeError):
    print("the wrong is related to value or type error")
except :
    print("something else went wrong")

the wrong is related to value or type error

In [14]:
try :
    4 /0
    
except ArithmeticError :
    print("You are trying to divide by zero")
except NameError :
    print("the wrong is related to name error")
except (ValueError, TypeError):
    print("the wrong is related to value or type error")
except :
    print("something else went wrong")

You are trying to divide by zero

In [ ]:
try :
    4 + "4"
    
except ZeroDivisionError :
    print("You are trying to divide by zero")
except NameError :
    print("the wrong is related to name error")
except (ValueError, TypeError):
    print("the wrong is related to value or type error")
except :
    print("something else went wrong")

In [15]:
fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]

In [16]:
while True :
    try :
        index = int(input("pick an index number :"))
        print("your favorite fruit is", fruits[index])
        break
    except IndexError :
        print("there is no such an index. Try again!")
        
    except ValueError :
        print("you should enter integer. Try again!")

pick an index number :9
there is no such an index. Try again!
pick an index number :8
there is no such an index. Try again!
pick an index number :beş
you should enter integer. Try again!
pick an index number :2
your favorite fruit is pear